{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" id='form' action="/venues/create">
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control',id=form.name, autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control',id=form.city, placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control',id=form.state, placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control',id=form.address, autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', id=form.phone,placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', id=form.genres, autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="seeking_talent">Seeking Talent</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.seeking_talent(class_ = 'form-control', placeholder='Seeking talent, separated by commas', id=form.seeking_talent,autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="seeking_description">Seeking Description</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.seeking_description(class_ = 'form-control', placeholder='Seeking Description, separated by commas', id=form.seeking_description, autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        {{ form.website(class_ = 'form-control', placeholder='http://', id=form.webiste, autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', id=form.facebook_link, autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', id=form.image_link, autofocus = true) }}
      </div>

      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
<script>
document.getElementById('form').onsubmit=function(event){
  event.preventDefault();
  fetch('/venues/create', {
    method: 'POST',
    body: JSON.stringify({
      "name": document.getElementById(form.name.id).value,
      "genres":document.getElementById(form.genres.id).value,
      "address":document.getElementById(form.address.id).value,
      "city": document.getElementById(form.city.id).value,
      "state": document.getElementById(form.state.id).value,
      "phone": document.getElementById(form.phone.id).value,
      //"website":document.getElementById(form.website.id).value,
      "facebook_link":document.getElementById(form.facebook_link.id).value ,
      //"image_link":document.getElementById(form.image_link.id).value 
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  })
  console.log(getElementById('es').value);
}
</script>